**Functions**

-A function is a block of code which only runs when it is called.

-You can pass data, known as parameters, into a function.

-A function can return data as a result.

**-There are 2 types of functions:**

   1.Built-in library function

   2.User-defined function

**1.Built in library function:**

-These are Standard functions in Python that are available to use.

**2.User defined function:**

-We can create our own functions based on our requirements.

In [ ]:
def person(name, age):
    print(f"My name is {name} and I am {age}")

In [ ]:
person("sai",200)

My name is sai and I am 200

In [ ]:
person("sreeja",10)

My name is sreeja and I am 10

In [ ]:
bike= ['duke','fz', 'bullet']
print(bike)
bike_name = input("Enter the bike name: ")

def bike_showroom(bike_name):

    if bike_name in bike:
        print(f"Yes, we have {bike_name}")
    else:
        print("No, we don't have that bike.")

bike_showroom(bike_name)

['duke', 'fz', 'bullet']
Enter the bike name: fz
Yes, we have fz

In [22]:
nonveg=['chicken','fish','egg','prawn','mutton']
veg=['tomato','potato','paneer','cucumber','beans']

print(nonveg,veg)

restaurant_vamsi= input("Enter the name: ")

def restaurant(restaurant_vamsi):

    if restaurant_vamsi in nonveg:
        print(f"Your nonveg {restaurant_vamsi} please wait")
    elif restaurant_vamsi in veg:
        print(f"your veg {restaurant_vamsi} please wait")
    else:
        print("we don't serve these item")

restaurant(restaurant_vamsi)

['chicken', 'fish', 'egg', 'prawn', 'mutton'] ['tomato', 'potato', 'paneer', 'cucumber', 'beans']
Enter the name: halwa
we don't serve these item

**Map Reduce and Filter Operations**

*  map() Function
*  Reduce() Function
*  Filter() Function


**Map Function**

The map () function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple, etc.).

Syntax: map(fun, iter)

In [21]:
def double(n):
    return n * 2

# Using map to double all numbers
numbers = [5, 6, 7, 8]
result = map(double, numbers)
print(list(result))

[10, 12, 14, 16]

**Reduce Function**

The reduce function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Syntax: reduce(func, iterable[, initial])

In [20]:
import functools

# Define a list of numbers
numbers = [1, 2, 3, 4]

# Use reduce to compute the product of list elements
product = functools.reduce(lambda x, y: x * y, numbers)
print("Product of list elements:", product)

Product of list elements: 24

**Filter Function**

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

Syntax: filter(function, sequence)

In [19]:
def is_even(n):
    return n % 2 == 0

# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter to filter out even numbers
even_numbers = filter(is_even, numbers)
print("Even numbers:", list(even_numbers))

Even numbers: [2, 4, 6, 8, 10]

1.write a python code to given number is prime number or not?

In [18]:
def prime_numbers(num):
    for i in range(2,num):
        if num % i==0:
            print("Not prime")
            break
    else:
        print("prime number")


num=int(input("Enter a number:"))
prime_numbers(num)

Enter a number:23
prime number

2.write a python code to print the following number pattern?

       1 1 1 1 1
       2 2 2 2
       3 3 3
       4 4
       5

In [17]:
for i in range(1,6):
    for j in range (6-i):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

3.write a pyt code to convert celsius to fahrenheit?

In [16]:
def celsius_to_fahrenheit(celsius):

  fahrenheit = (celsius * 9/5) + 32
  print(f"fahrenheit temperaure {fahrenheit}")

celsius = float(input("Enter temperature in Celsius: "))

celsius_to_fahrenheit(celsius)

Enter temperature in Celsius: 38
fahrenheit temperaure 100.4

4.write a code to calculate the simple interest ?

In [15]:
def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is',r)

    i = (p * t * r)/100

    print('The Simple Interest is', i)

simple_interest(8, 6, 8)

The principal is 8
The time period is 6
The rate of interest is 8
The Simple Interest is 3.84

5.write a pyt code to convert integer to digit?

In [14]:
def digit(n):

    return list(map(int, str(n)))

digit(123)

[1, 2, 3]

6.write a python code to given character is digit or not?

In [13]:
char=input("Enter a string")
for i in char:
    if i.isdigit():
        print(f"{i} is a digit")
    elif i.isalpha():
        print(f"{i} is a alphabet")
    else:
        print(f"{i} is a special character")

Enter a stringwelcome @ to world #python#
w is a alphabet
e is a alphabet
l is a alphabet
c is a alphabet
o is a alphabet
m is a alphabet
e is a alphabet
  is a special character
@ is a special character
  is a special character
t is a alphabet
o is a alphabet
  is a special character
w is a alphabet
o is a alphabet
r is a alphabet
l is a alphabet
d is a alphabet
  is a special character
# is a special character
p is a alphabet
y is a alphabet
t is a alphabet
h is a alphabet
o is a alphabet
n is a alphabet
# is a special character

7.write a code number is armstrong or not?

In [12]:
num=int(input("Enter a number:"))

digits = [int(digit) for digit in str(num)]
count=0
#print(digits)
for i in digits:
    i=i**3
    #print(i)
    count=count+i
    #print(count)
if count==num:
    print(count,"Armstrong number")
else:
    print(count,"Not Armstrong number")

Enter a number:153
153 Armstrong number

8.write a code to check weather string are anagram or not?

In [11]:
def check(s1, s2):

    # the sorted strings are checked
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")

# driver code
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

9.write a python code to check non-repeating of first occurence char in string

In [10]:
strs=input("Enter a string:")
lst=[]
for i in strs:
    #print(i)
    lst.append(i)
print(lst)
lst=list(set(lst))
print(lst)

Enter a string:welcome
['w', 'e', 'l', 'c', 'o', 'm', 'e']
['m', 'e', 'l', 'o', 'c', 'w']

10.write a python program to greatest common divisior

In [8]:
def gcd(a, b):

    while b != 0:
        a, b = b, a % b
    return (a)

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print(f"GCD of {num1} and {num2} is: {gcd(num1, num2)}")

Enter first number: 8
Enter second number: 10
GCD of 8 and 10 is: 2

11.write a code remove duplicates from a list?

In [7]:
def remove_duplicates(lst):

    return list(set(lst))

# Example usage:
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]
print(my_list)

print("without duplicates",remove_duplicates(my_list))

[1, 2, 2, 3, 4, 4, 5, 6, 6]
without duplicates [1, 2, 3, 4, 5, 6]

12.write a python code to replace the string space by given character

In [3]:
a=input("Enter a string")
b=input("Enter a charater to replace spaces:")
c=a.replace(" ",b)
print(f"string after replacement: {c} ")

Enter a stringwelcome to python class
Enter a charater to replace spaces:=
string after replacement: welcome=to=python=class

13.write a python code to swap two number by not using any third variable

In [2]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print("Before swapping of a:",a)
print("Before swapping of b:",b)
a=a+b # a becomes 8
b=a-b  # b becomes 8-5 b=3
a=a-b  # a becomes 8-3 == 5

print("After swapping of a:",a)
print("After swapping of b:",b)

Enter a number:5
Enter a number:8
Before swapping of a: 5
Before swapping of b: 8
After swapping of a: 8
After swapping of b: 5

14.write a python code to add two integer without any arithmetric operators?

In [1]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))

if a<=0 or b<=0:
    print("Does not exist")
num = a | b
print(num)

Enter a number:5
Enter a number:10
15