1.write a python program to identify given number is a prime or not ?

In [6]:
num=int(input("enter the number:"))
if num>1:
   for i in range(2,num):
    if num % i == 0:
       print(num, "is not a prime number.")
       break
   else:
       print(num, "is a prime number.")
else:
   print(num, "is not a prime number.")

enter the number:11
11 is a prime number.

2.write a python program to find Fibonacci sequence of 5?

In [5]:
a=0
b=1
count=0
for i in range(10):
  print(a)
  c=a+b
  a=b
  b=c
  count+=1

0
1
1
2
3
5
8
13
21
34

3.write a python program to find factorial number ?

In [1]:
a=int(input("enter a number:"))
num=1
for i in range(1,a+1):
    num=num*i
    print(num)

enter a number:10
1
2
6
24
120
720
5040
40320
362880
3628800

4.write a python program to print multiplction table of a given number ?

In [3]:
a = int(input("enter the table number :"))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

enter the table number :12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

5.write a python program to count total number of digits in a number?

6.write a python program to print list reverse using loop?

In [4]:
list=[1,2,3,4,5,6,7]
for i in reversed(list):
  print(i)

7
6
5
4
3
2
1

6.write a python program to display from -10 to -1?

In [5]:
list=[1,2,3,4,5,6,7,8,9,10]
for i in reversed(list):
     print(-i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1