**loops statement:**

a sequence of instruction s that is continually repeated until a certain condition is reached.

two types loops :
 1. while loop:
 2.for loop:

**2. While loop:**

The while loop is used to execute a set of statements as long as a condition is true.

In [ ]:
i=10
while i<=50:
  print(i)
  i=i+15

10
25
40

In [2]:
number = 1

while number <= 3:
    print(number)
    number = number + 1

1
2
3

**1. For Loop:**

A for loop in Python is used to iterate over a sequence (list, tuple, set, dictionary, and string).

In [ ]:
a='hello python'
for i in a:
  print(i)

h
e
l
l
o

p
y
t
h
o
n

1.write a python program to check given year leap or not?

In [4]:
year=int(input("enter ur year:"))

for year in range(2000,3000):
  if year % 4==0:
    print(f"{year} is a leap year.")
  else:
    print(f"{year} is not a leap year.")
    break

enter ur year:2002
2000 is a leap year.
2001 is not a leap year.

In [5]:
year = int(input("Enter a year: "))

while year < 1:
    print("year")
    year = int(input("Enter a year: "))

if year % 4 == 0:
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2002
2002 is not a leap year.

2.write a python prog to find a given even or not

In [6]:
num=[1,2,3,4,5,6,7,8,9,0,10]
for i in num:
 if i% 2==0:
  print(i,"even")
 else:
  print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
0 even
10 even

In [11]:
num = int(input("Enter a number: "))

while num < 0:
    print("num")
if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

Enter a number: 9
9 is odd.

3.python check if a list is empty or not

In [12]:
my_list = []

for i in range(10):
    if not my_list:
        print("List is empty")
    else:
        print("List is not empty")

List is empty
List is empty
List is empty
List is empty
List is empty
List is empty
List is empty
List is empty
List is empty
List is empty

In [13]:
my_list = []

for i in my_list:
    print(i)
if not my_list:
    print("List is empty")
else:
  print("not empty")

List is empty

In [14]:
list = []
index = 0

while index == 0:
    print("empty")
    break

empty

4.python to calculate of student marks?

In [16]:
marks=int(input("enter marks:"))
for i in range (0,101):

 if marks>=90:
  print("a")
 elif marks>=80:
  print("b")
 elif marks>=70:
  print("c")
 elif marks>=60:
  print("d")
 elif marks>=50:
  print("e")
 else:
  print("fail")
  break

enter marks:45
fail

In [17]:
marks = int(input("Enter marks: "))

i = 0
while i <= 100:
    if marks >= 90:
        print("A")
    elif marks >= 80:
        print("B")
    elif marks >= 70:
        print("C")
    elif marks >= 60:
        print("D")
    elif marks >= 50:
        print("E")
    else:
        print("Fail")
    i += 1
    break

Enter marks: 45
Fail

5.check wheather palidrome or not?

In [18]:
word = input("Enter your word: ")
for i in word:
    if word == word[::-1]:
        print("The word is a palindrome.")
        break
    else:
        print("The word is not a palindrome.")
        break

Enter your word: 121
The word is a palindrome.

In [19]:
word = input("Enter your word: ")
while True:
    if word == word[::-1]:
        print("The word is a palindrome.")
        break
    else:
        print("The word is not a palindrome.")
        break

Enter your word: 121
The word is a palindrome.

6.write python prog to find samallest among three numbers?

In [20]:
x=20
y=10
z=14
for i in x,y,z:
 if x<y and x<z:
  print("x is smallest number")
 elif z<y:
  print("z is smallest number")
 else:
  print("y is smallest number")

y is smallest number
y is smallest number
y is smallest number

In [21]:
x = 20
y = 10
z = 14

i = 0
numbers = [x, y, z]
smallest = numbers[0]

while i < 3:
    smallest = numbers[i]  if numbers[i] < smallest else smallest
    i += 1

print(f"The smallest number is {smallest}")

The smallest number is 10

7.find two second largest no. in list?

In [22]:
numbers = [12, 45, 7, 23, 56, 89, 34]
max_num = second_max = float('-inf')

for num in numbers:
    if num > max_num:
        second_max = max_num
        max_num = num
    elif num > second_max:
        second_max = num

print("Largest:", max_num)
print("Second Largest:",second_max)

Largest: 89
Second Largest: 56

In [23]:
numbers = [12, 45, 7, 23, 56, 89, 34]
max_num = second_max = float('-inf')

for num in numbers:
    if num > max_num:
        second_max = max_num
        max_num = num
    elif num > second_max:
        second_max = num

print("Largest:", max_num)
print("Second Largest:",second_max)

Largest: 89
Second Largest: 56

8.calculate bmi and categories it?

In [25]:
Height = float(input("Enter your height in cm: ")) / 100
Weight = float(input("Enter your weight in kg: "))
for i in Height,Weight:

 BMI = Weight / (Height ** 2)

if BMI <= 18.5:
    print("You are underweight")
elif BMI <= 25:
    print("You are healthy")
elif BMI <= 30:
    print("You are overweight")
else:
    print("You are obese")

Enter your height in cm: 180
Enter your weight in kg: 75
You are healthy

In [27]:
while True:
    Height = float(input("Enter your height in cm: ")) / 100
    Weight = float(input("Enter your weight in kg: "))

    BMI = Weight / (Height ** 2)

    if BMI <= 18.5:
        print("You are underweight")
    elif BMI <= 25:
        print("You are healthy")
    elif BMI <= 30:
        print("You are overweight")
    else:
        print("You are obese")
        break

Enter your height in cm: 160
Enter your weight in kg: 80
You are obese

9.to check vote eliability?

In [28]:
age=[12,34,3,17,56,10,21,83,19]
for i in age:
  if i >=18:
    print(i,"vote")
  else:
    print(i,"not vote")

12 not vote
34 vote
3 not vote
17 not vote
56 vote
10 not vote
21 vote
83 vote
19 vote

In [31]:
age = [12, 34, 3, 17, 56, 10, 21, 83, 19]
i = 0

while i < len(age):
    if age[i] >= 18:
        print(age[i], "vote")
    else:
        print(age[i], "not vote")
    i += 1

12 not vote
34 vote
3 not vote
17 not vote
56 vote
10 not vote
21 vote
83 vote
19 vote

10.find the person belong to which type of group?gruop school lesserthhan 22,
work group lesser than 50 , retire greater than 50?

In [34]:
age=int(input("enter the age:"))
for i in range(0,100):
 if age<=22:
  print("you r school group")
 elif age<=50:
  print("you r work group")
 else:
  print("you r retire group")
 break

enter the age:50
you r work group

In [40]:
age = int(input("Enter your age: "))
count = 0

while count < 1:
    if age <= 22:
        print(f"Age {age}: School group")
    elif age > 22 and age <= 50:
        print(f"Age {age}: Work group")
    else:
        print(f"Age {age}: Retire group")

    count += 1

Enter your age: 50
Age 50: Work group