**Define sets**

* unordered collections of unique elements.

* Defined using curly braces {} and seperated by comas ,.

* can store multiple items in a single variable

* mutable,doesnot allow elements

* provies variety of methods and set operations

In [1]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [2]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [3]:
list_example = [1, 2, 2, 3, 4]
my_set = set(list_example)
print(my_set)

{1, 2, 3, 4}

In [4]:
empty_set = set()
print(empty_set)

set()

**accessing the code:**

1.add()

2.update()

3.remove()

**Adding the element in set**

*  add items to a set
*  we use add()

In [5]:
my_set = {1, 2, 3}
my_set.add(4)
print("After adding 4:", my_set)

After adding 4: {1, 2, 3, 4}

In [6]:
my_set.update([4, 5, 6])
print("After adding 4, 5, 6:", my_set)

After adding 4, 5, 6: {1, 2, 3, 4, 5, 6}

In [7]:
my_set.add(2)
print("After trying to add 2 again:", my_set)

After trying to add 2 again: {1, 2, 3, 4, 5, 6}

In [8]:
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 10}

**Updating the set:**

*  used to update the set with another collection types

*  we use update()

In [9]:
set_a = {1, 2, 3}
set_b = {4, 5, 6}
set_a.update(set_b)
print("After updating with another set:", set_a)

After updating with another set: {1, 2, 3, 4, 5, 6}

In [10]:
my_set.update([4, 5, 6])
print("After adding from list:", my_set)

After adding from list: {1, 2, 3, 4, 5, 6, 10}

In [11]:
my_set.update((4, 5))
print("After adding from tuple:", my_set)

After adding from tuple: {1, 2, 3, 4, 5, 6, 10}

**Removing the item from set**

*  removes the sepcified element from a set

*  we use discard()

In [12]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 10}

In [13]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print("After removing 3:", my_set)

After removing 3: {1, 2, 4, 5}

In [14]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

my_set.discard(2)
print("After discarding 2:", my_set)

Original set: {1, 2, 3, 4, 5}
After discarding 2: {1, 3, 4, 5}

In [15]:
my_set.discard(10)
print("After trying to discard 10:", my_set)

After trying to discard 10: {1, 3, 4, 5}

In [16]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

for item in [2, 4]:
    my_set.remove(item)
print("After removing 2 and 4:", my_set)

Original set: {1, 2, 3, 4, 5}
After removing 2 and 4: {1, 3, 5}

**Python operations**

* provides different built in methods to perform mathematical set operation
like union,difference,intesection

1.union

2.intersection

3.difference

4.symmetric Difference:

**1.union:**

*  the union of two sets A and B include all the elements of set A and set B

*  combines all the elements from set A and set B

*  symbol : |

*  or set A.union(set B)

In [17]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a | set_b
print(union_set)

{1, 2, 3, 4, 5}

In [19]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

**2.Intersection:**


*  gives common elemnts in set A and set B

*  symbol : &

*  or set A.intersection(set B)

In [18]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}

result = set_a.intersection(set_b)
print(result)

{2, 3}

In [21]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}

result = set_a & set_b
print(result)

{2, 3}

In [20]:
set_a = {1, 'apple', 2.5}
set_b = {2.5, 'banana', 'apple'}
result = set_a & set_b
print(result)

{2.5, 'apple'}

**3.Difference:**

*  returns all the elements in set A not in set B

*  no common items

* symbol : -
 or setA.difference(set B)

In [23]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
result = set_a - set_b
print(result)

{1}

In [22]:
set_a = {1, 2, 2, 3}
set_b = {2, 3, 4}
result = set_a.difference(set_b)
print(result)

{1}

In [26]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
set_c = {3, 5,2}
result = set_a.difference(set_b, set_c)
print(result)

{1}

**4.symmetric Difference:**

* returns all the elements in both sets A and B

* but no common elements

* symbol : ^
or A.Symmetric_difference(B)

In [25]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = set_a ^ set_b
print(result)

{1, 2, 4, 5}

In [24]:
set_a = {1, 2, 2, 3}
set_b = {3, 4, 5}
result = set_a.symmetric_difference(set_b)
print(result)

{1, 2, 4, 5}