**Define Tuples**

- Python Tuple is a collection of Python Programming objects much like a list.
- The data type that represents an ordered, immutable and sequence of elements
- Similar to lists but the only difference is tuples and cannot be modified
- Defines using paranthesis ()
- seperated by commas ,.

**Features of tuples**

- Immutable
- Each element in a tuple has a specified order that will never change becoz tuples are ordered sequences

**Creating 10 examples**

In [ ]:
list1 = [1, 2, 4, 5, 6]
print("Tuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [ ]:
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

Initial empty Tuple:
()

In [ ]:
fruits=("apple","banana","grapes")
print(fruits)
print(type(fruits))

('apple', 'banana', 'grapes')
<class 'tuple'>

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
tuple1 = ('be', 34, True , 40, 'apple')
print(tuple1)
print(type(tuple1))

('be', 34, True, 40, 'apple')
<class 'tuple'>

**Accessing of tuples**

*  supports only indexing and slicing

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

**Tuple Operation**

1.concatation :
combining two tuples

2.Repetition:
repeating the tuple

**concatation:**

In [ ]:
tuple1=(1,2,3)
tuple2=(4,5,6)
result=tuple1+tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
tuple1=(1,2,3)
tuple2=("apple","mango")
result=tuple1+tuple2
print(result)

(1, 2, 3, 'apple', 'mango')

In [ ]:
t1=("a","b","c","s","d")
t2=(1,2,4,5,9)
t=t1  +t2
print(t)
print(type(t))

('a', 'b', 'c', 's', 'd', 1, 2, 4, 5, 9)
<class 'tuple'>

In [ ]:
tuple1=(1,2,3)
tuple2=(9,10,11,12)
result=tuple1+tuple2
print(result)

(1, 2, 3, 9, 10, 11, 12)

**2.Repetition:**

In [ ]:
tuple1=(1,2,3)
print(tuple1*2)

(1, 2, 3, 1, 2, 3)

In [ ]:
tuple1=("welcome  ")
print(tuple1*3)

welcome  welcome  welcome

In [ ]:
tuple1=("% ")
print(tuple1*10)

% % % % % % % % % %

In [ ]:
tuple1=('true ')
print(tuple1*13)

true true true true true true true true true true true true true

**Methods:**

1.count()

2.index()

**1.count:**
returns the number of occurences of specified value

In [ ]:
t = (1, 2, 2, 3)
print(t.count(2))

2

In [ ]:
fruits = ('apple', 'banana', 'orange', 'apple', 'kiwi')
print(fruits.count('apple'))

2

In [ ]:
a=("soaps","bottle","chocolate","chips")
print(a.count("choco"))

0

**2.index():**
return the index of the first occurence of specified value

In [ ]:
t = (1, 2, 3)
print(t.index(1))

0

In [ ]:
colors = ('red','pink', 'blue', 'green', 'blue')
print(colors.index('blue'))

2

In [ ]:
play=("draw","paint","sing")
print(play.index('paint'))

1